h2 /get_restaurant_zomato
form(action='/get_restaurant_zomato', method='get')
    input(type='submit',value='submit')
    br
    hr

h2 /get_restaurant_database
form(action='/get_restaurant_database', method='get')
    br
    input(type='submit',value='submit')
    br
    hr
